<launch>
    <arg name="planning_scene_config"
        default="$(find grinding_scene_description)/config/U1W_514.yaml" />

    <node name="load_planning_scene" pkg="grinding_scene_description" type="load_planning_scene.py"
        output="screen">
        <rosparam command="load" file="$(arg planning_scene_config)" />
    </node>
</launch>